.App{
  height : 100vh;
}

header{
  margin: 2rem;
  display: flex;
}

.task-form{
  margin: 2rem;
  display: flex;
}

.input-field{
  width: 15rem;
  height: 2rem;
  text-indent: 5px;
  border: 1px solid
}

.button{
  margin-left: 1rem;
  height : 2.1rem;
  width : 5rem;
  border: 0px;
  border-radius: 10%;
}